# Overview

In a few months time, I'm going to become a dad for the first time and with that, all the usual concerns about long-term financial security have come to the forefront of my mind. For some time I've heard about the option of tax-free investments but thus far have been slow to look into them and the savings potential they offer my family. 

This project aims to use the power of data science to first: generate millions of combinations of investments that abide by the tax-free savings rules and then: analyse those investments to understand how one can optimise them for specific savings goals such as a child's future education or wedding, our retirement or rainy day planning.

There are numerous online calculators where one can play around with individual lump sum amounts, monthly contributions and risk tolerances, however using these tools is cumbersome because one can't play around with every possible combination so you don't know if you are missing out on the "best" combination that would maximise your investment. Also it's useful to have a wider appreciation for how these parameters affect the investment generally, which these tools don't offer.

Here then, I'd like to first provide general understanding about how these parameters affect your investment and then bring it all together and show you options for savings specific goal amounts, i.e. R250K, R500K, R1M, R2M, R5M and R10M. I chose these amounts because they represent goals that range from medium-term expenses such as paying for a wedding all the way to retirement and even financial freedom. 

We'll look at what's possible and what's not possible and at the end of the analysis I'll provide a free pdf report that you can keep with you when you are comparing options from various financial institutions as knowing what's possible will make comparisons more precise.

# What are Tax-free Investments?

From 1 March 2015, it become possible to invest in a class of products whose returns are not subject to any form of income tax, divident tax or capital gains tax. We refer to these as Tax-free investment products. They can be packaged together and provided by licensed banks, long-term insurers, mutual and co-operative banks and the government and their primary objective is to encourage and incentivise South Africa's to save. 

There are a rules surrounding a tax-free investment. These are as follows:
- As of 1 March 2017, you can contribute a maximum of R33,000 per tax year. Any portion of unused annual limit is forfeited in that year. Each year resets and only allows R33,000 contribution. 
- There is a life time limit of R500,000 per person. 
- If a person exceeds the limits, there is a penalty of 40% of the excess amount.  Example: Taxpayer X invests R35,000 â€“ exceeded the annual limit by R2,000, 40% of R2,000 = R800 must be paid to SARS. This penalty is added to the normal tax payable on assessment.
- A person can have more than one tax free investment, however, you are limited to the annual limits per tax year. This means you can invest, for example, R11,000 in Old Mutual, R11,000 in Investec and R11,000 in Absa.  
- Parents can invest on behalf of their minor child.  The minor child will use his/her own annual or lifetime limits. This means a family of four could each have an account allowing a total of R33,000 x 4 = R132,000 to be invested in a given year.
- When returns on investment are added to the capital contributed, the balance may exceed both the annual and/or lifetime limit.  The re-investment of these returns within the account does not affect the annual or lifetime limit. Example: If you invest R33,000 for the year and receive a return of investment of R5,000, which you have chosen to re-invest, the total amount in the account will be R38,000. The following year, you will still be able to invest your full R33,000 for year.
- However, where a person withdraws the returns and reinvests the same amount, that amount is regarded as a new contribution and impacts on both the annual and lifetime limits. Note that any withdrawals made cannot be replaced, be it returns or capital.
- Tax free investment accounts cannot be used as transactional accounts.
- Debit or stop orders and ATM transactions will not be possible from these accounts.
- Only new accounts will qualify as the idea is to encourage new savings, in other words existing accounts may not be converted.

# Assumptions & Caveats

With this kind of analysis, there has to be some assumptions made and some limitations in place. These are as follows:
- All data generated assumes that the lump sum and monthly contributions used, will remain the same throughout the entire time horizon of the investment. Of course in real life, one might change their monthly contribution or add additional lump-sum payments when they have the funds. In this first version of the analysis I won't consider these cases but in a future analysis I would like to.
- We are going to look at investment options that cover 5 risk categories namely low, low-medium, medium, medium-high and high. What represents these different risk categories is the expected return one can receive for the type of investment. I will be using values which I've borrowed from https://savetaxfree.co.za. I've also used their tax-free investment calculator to ensure the investments I generate are 100% accurate. The BIG caveat here is that these are idealised investments, i.e. if a high risk investment gives you an expected return of 18% per year, then you'd get this every year without fail. Of course this is completely untrue because real markets fluctuate and you may get more or less than this return in any given time period. As the risk goes up, so does the risk of not getting that return, so while this analysis will be accurate in the potential idealised value one **could** earn, it will be slightly inaccurate in the value one **will** earn. In a future version of this analysis, I would like to inject random noise that represents real market fluctuations.
- Low-risk = Interest-bearing money-market funds yielding 7.21%
- Low-medium risk = Multi-asset low equity funds yielding 9.93%
- Medium risk = Multi-asset options using average of medium equity and high equity funds yielding 12.18%
- Medium-high risk = Top 40 equity funds yielding 16.59%
- High risk = Small and mid-cap equity funds yielding 18% 
- We'll assume that interest is compunded monthly at the end of each month. 
- We'll assume that returns will be reinvested into the fund without withdrawal, until the maturity date.

# Data Generation Process

In order to generate real data for this analysis, I first generated combinations of investment using:
- Time-horizon's that span 1 to 50 years into the future.
- Lump sum's from R0 to R30,000 in R250 increments.
- Monthly contributions from R0 to R,5000 in R50 increments.
- Risks using the 5 mentioned previously. 


Then each possible combination of these options was used to generate a future value calculation of the investment. 

This led to a total of 3,055,250 investments, however not all of these are valid because they may violate either the R33,000 per year limit or the R500,000 lifetime contribution limit. 

After writing an algorithm that weeded out the invalid investments, we are left with 744,425 investments, plenty for us to analyse.

In [1]:
import numpy as np
import pandas as pd

time_horizons = np.array([i for i in range(1, 51)])
return_rates = np.array([0.0721, 0.0993, 0.1218, 0.1659, 0.18])
lump_sums = np.array([i for i in range(0, 30250, 250)])
monthly_contribs = np.array([i for i in range(0, 5050, 50)])

In [2]:
lump_sums

array([    0,   250,   500,   750,  1000,  1250,  1500,  1750,  2000,
        2250,  2500,  2750,  3000,  3250,  3500,  3750,  4000,  4250,
        4500,  4750,  5000,  5250,  5500,  5750,  6000,  6250,  6500,
        6750,  7000,  7250,  7500,  7750,  8000,  8250,  8500,  8750,
        9000,  9250,  9500,  9750, 10000, 10250, 10500, 10750, 11000,
       11250, 11500, 11750, 12000, 12250, 12500, 12750, 13000, 13250,
       13500, 13750, 14000, 14250, 14500, 14750, 15000, 15250, 15500,
       15750, 16000, 16250, 16500, 16750, 17000, 17250, 17500, 17750,
       18000, 18250, 18500, 18750, 19000, 19250, 19500, 19750, 20000,
       20250, 20500, 20750, 21000, 21250, 21500, 21750, 22000, 22250,
       22500, 22750, 23000, 23250, 23500, 23750, 24000, 24250, 24500,
       24750, 25000, 25250, 25500, 25750, 26000, 26250, 26500, 26750,
       27000, 27250, 27500, 27750, 28000, 28250, 28500, 28750, 29000,
       29250, 29500, 29750, 30000])

In [3]:
monthly_contribs

array([   0,   50,  100,  150,  200,  250,  300,  350,  400,  450,  500,
        550,  600,  650,  700,  750,  800,  850,  900,  950, 1000, 1050,
       1100, 1150, 1200, 1250, 1300, 1350, 1400, 1450, 1500, 1550, 1600,
       1650, 1700, 1750, 1800, 1850, 1900, 1950, 2000, 2050, 2100, 2150,
       2200, 2250, 2300, 2350, 2400, 2450, 2500, 2550, 2600, 2650, 2700,
       2750, 2800, 2850, 2900, 2950, 3000, 3050, 3100, 3150, 3200, 3250,
       3300, 3350, 3400, 3450, 3500, 3550, 3600, 3650, 3700, 3750, 3800,
       3850, 3900, 3950, 4000, 4050, 4100, 4150, 4200, 4250, 4300, 4350,
       4400, 4450, 4500, 4550, 4600, 4650, 4700, 4750, 4800, 4850, 4900,
       4950, 5000])

In [4]:
# will be used by pandas apply() in order to determine if each investment combo is valid. 
def is_valid_investment_params(row):
    time_horizon = row["horizon"]
    lump_sum = row["lump_sum"]
    monthly_contrib = row["monthly"]
    
    periods = time_horizon * 12
    
    # not allowed to contribute more than R33,000 per year, so lump sum on its own cannot be greater than this amount.
    if lump_sum > 33000:
        return False
    
    # total lifetime contributions cannot be greater than R500,000, so let's check that.
    if (lump_sum + periods*monthly_contrib) > 500000:
        return False

    # if the contributions in a single year + the lump sum exceed 33,000, reject the investment option.
    yearly_total = lump_sum
    total = yearly_total
    for i in range(1, int(periods)+1):
        yearly_total = yearly_total + monthly_contrib
        total = total + monthly_contrib
        
        if (yearly_total > 33000) or (total > 500000):
            return False
        
        if i % 12 == 0:
            yearly_total = 0
    return True

In [5]:
# numpy meshgrid allows us to create a matrix of all combinations of our input arrays
investment_options = np.stack(np.meshgrid(time_horizons, return_rates, lump_sums, monthly_contribs), -1).reshape(-1, 4)

df = pd.DataFrame(investment_options, columns=["horizon", "rate", "lump_sum", "monthly"])
df.horizon = df.horizon.astype("int64")
df.lump_sum = df.lump_sum.astype("int64")
df.monthly = df.monthly.astype("int64")

In [6]:
def assign_risk(col):
    if col == 0.0721: return 'low'
    if col == 0.0993: return 'low-medium'
    if col == 0.1218: return 'medium'
    if col == 0.1659: return 'medium-high'
    if col == 0.18: return 'high'
    
df["risk"] = df["rate"].apply(assign_risk)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3055250 entries, 0 to 3055249
Data columns (total 5 columns):
horizon     int64
rate        float64
lump_sum    int64
monthly     int64
risk        object
dtypes: float64(1), int64(3), object(1)
memory usage: 116.5+ MB

In [8]:
# adding too column which indicates whether this combo of params is a valid tax-free investment
df["valid"] = df.apply(is_valid_investment_params, axis=1)   

# calculaing the future value using numpy fv() 
df["fv"] = -np.round(np.fv(df["rate"]/12, nper=df["horizon"]*12, pmt=df["monthly"], pv=df["lump_sum"], when='end'), 2)

In [9]:
df.head()

   horizon    rate  lump_sum  monthly risk  valid       fv
0        1  0.0721         0        0  low   True    -0.00
1        1  0.0721         0       50  low   True   620.23
2        1  0.0721         0      100  low   True  1240.46
3        1  0.0721         0      150  low   True  1860.69
4        1  0.0721         0      200  low   True  2480.92

In [10]:
labels = ["2 Years", "5 Years", "10 Years", "15 Years", "20 Years", "30 Years", "40 Years", "50 Years"]
bins = [0, 2, 5, 10, 15, 20, 30, 40, 50]
df["horizon_cat"] = pd.cut(df.horizon, bins=bins, labels=labels)
print(df.horizon_cat.isnull().sum())
df.horizon_cat.value_counts()

0

50 Years    611050
40 Years    611050
30 Years    611050
20 Years    305525
15 Years    305525
10 Years    305525
5 Years     183315
2 Years     122210
Name: horizon_cat, dtype: int64

In [11]:
labels=["0-R5K", "R5K-R10K", "R10K-R15K", "R15K-20K", "R20K-R25K", "R25K-R30K"]
df["lump_sum_cat"] = pd.qcut(df.lump_sum, 6, labels=labels)
print(df.lump_sum_cat.isnull().sum())
df.lump_sum_cat.value_counts()

0

0-R5K        530250
R25K-R30K    505000
R20K-R25K    505000
R15K-20K     505000
R10K-R15K    505000
R5K-R10K     505000
Name: lump_sum_cat, dtype: int64

In [12]:
labels=["0-R500", "R500-R1K", "R1K-R1.5K", "R1.5K-R2K", "R2K-R2.5K", "R2.5K-R3K", "R3K-R3.5K", "R3.5K-R4K", "R4.5K-R5K"]
df["monthly_cat"] = pd.qcut(df.monthly, 9, labels=labels)
print(df.monthly_cat.isnull().sum())
df.monthly_cat.value_counts()

0

R2K-R2.5K    363000
0-R500       363000
R4.5K-R5K    332750
R3.5K-R4K    332750
R3K-R3.5K    332750
R2.5K-R3K    332750
R1.5K-R2K    332750
R1K-R1.5K    332750
R500-R1K     332750
Name: monthly_cat, dtype: int64

In [13]:
cols = ["horizon", "horizon_cat", "lump_sum", "lump_sum_cat", "monthly", "monthly_cat", "rate", "risk", "fv", "valid"]
df = df[cols]

In [14]:
df.duplicated().sum()

0

In [15]:
data_invalid = df[df.valid==False]
data = df[df.valid==True]
print(data_invalid.shape, data.shape)

(2310825, 10) (744425, 10)

In [16]:
data.sample(10)

,horizon,horizon_cat,lump_sum,lump_sum_cat,monthly,monthly_cat,rate,risk,fv,valid
277346,23,30 Years,21000,R20K-R25K,0,0-R500,0.0721,low,109712.19,True
496218,41,50 Years,18250,R15K-20K,250,0-R500,0.0721,low,1098916.77,True
1442710,19,20 Years,1500,0-R5K,1300,R1K-R1.5K,0.1218,medium,1167643.55,True
1248975,3,5 Years,6000,R5K-R10K,450,0-R500,0.1218,medium,28068.78,True
156153,13,15 Years,23500,R20K-R25K,350,0-R500,0.0721,low,149883.41,True
77873,7,10 Years,11250,R10K-R15K,100,0-R500,0.0721,low,29492.07,True
2237977,34,40 Years,3750,0-R5K,950,R500-R1K,0.1659,medium-high,19566575.45,True
586817,49,50 Years,500,0-R5K,350,0-R500,0.0721,low,1931292.81,True
923750,26,30 Years,17750,R15K-20K,200,0-R500,0.0993,low-medium,524184.21,True
1394325,15,15 Years,2750,0-R5K,1000,R500-R1K,0.1218,medium,525135.66,True

In [17]:
data.to_csv('taxfree_investment_options.csv', index=False)

# Do Monthly Contributions Matter?

# Do Lump Sums Matter?

# Does Risk Matter?

# Bigger Lump Sum/Smaller Monthly Contribution or Smaller Lump Sum/Bigger Monthly Contribution

# Putting It All Together

## Options for Saving R250K

## Options for Saving R500K

## Options for Saving R1M

## Options for Saving R2M

## Options for Saving R5M

## Options for Saving R10M

# Summary & Next Steps